<form action= '/named_cat' method ='post'>
  <input type='text' name='name'> </input>
  <input type='text' name='nickname'> </input>
  <input type='text' name='color'> </input>
  <input type='submit' value='Submittttt'> </input>
</form>
